/* NOTE: Index wide */
html{
  font-size: 18px;

}

body{
  background: #a27368;
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
  height: 100%;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  width: 100%;
}

a{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5{
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

i{
  background: #222;
  border-radius: 50%;
  color: #f9f8f7;
  margin: 0 10px;
  padding: 13px 14px;
  text-align: center;
}
i:hover{
  background: #a27368;
  color: #b7dee5;
  transition: linear 0.3s;
}

p{
  font-size: 13px;
  margin: 0;
  padding: 0;
  text-align: justify;
}


/* NOTE: Id's */
#js-fa-up{
  /* This is kind of a button/icon */
  background: #dd614a;
  border: none;
  border-radius: 50%;
  color: #f9f8f7;
  display: none;
  margin: 0 10px;
  outline: none;
  padding: 13px 19px;
  position: fixed;
    bottom: 6.2vh;
    right: 3.6vw;
  text-align: center;
  text-decoration: none;
  z-index: 99;
}
#js-fa-up:hover{
  background: #b7dee5;
  color: #f9f8f7;
}

#js-fa-flask{
  cursor: pointer;
}

#particles-js{
  height: 100%;
  width: 100%;
}

#battery{
  padding: 14px 15px;
}

#memo{
  color: #ceb29a;
  font-size: 10px;
  font-style: italic;
  line-height: 1.3;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}


/* NOTE: Utility classes */
/* https://stackoverflow.com/questions/21003535/anyway-to-prevent-the-blue-highlighting-of-elements-in-chrome-when-clicking-quic */
.is-disabled{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.not-displayed{
  display: none;
}

.w100p{
  width: 100%;
}


/* TYPOGRAPHY */
a.link{
  color: #f9f8f7;
  font-size: 0.75rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
a.link:hover{
  color: #a27368;
  text-decoration: none;
  transition: linear 0.3s;
}

.inline{
  color: #ceb29a;
  text-decoration: none;
}
.inline:hover{
  color: #b7dee5;
  transition: linear 0.3s;
}

.title{
  border-bottom: none;
  text-transform: uppercase;
  font-weight: bold;
}


/* CONTAINERS */
section{
  background: #f9f8f7;
}

/* general purpose container */
.ctn{
  box-sizing: border-box;
}

.flex{
  display: flex;
}
.flex-ccc{
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
}

.ribbon{
  background: #222;
  padding: 2vh 1.6rem;
}

.subcontent{
  border-bottom: 1px solid #e5e5e5;
  padding-top: 28px;
  padding-bottom: 28px;
  position: relative;
}


/* NOTE: Header specific */
header nav{
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}

span#ZH{
  /* This is not an icon, but I want the properties of an icon */
  background: #140e0e;
  border-radius: 50%;
  color: #a27368;
  opacity: 0.9;
  padding: 10px 13px;
}

.css-menu{
  display:none;
}

.nav-links > a{
  margin: 0 2px;
  padding: 0 8px 3.8vh;
}
.nav-links > a:hover{
  border-bottom: solid #b7dee5;
}


/* NOTE: Main specific */
/* Top section*/
.parallax{
  background: transparent;
  /*background: linear-gradient(179deg, rgba(162, 115, 104, 1), rgba(249, 248, 247, 1) 71%);*/
  background-attachment: fixed;
  /*background-image: url("./svg/virus.jpg");*/
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 59vh;
}

.notice{
  text-align: justify;
  font-style: italic;
  position: relative;
    bottom: 12vh;
    left: 1.6rem;
  z-index: 100;
}


/* Bottom section */
/* LEFT About*/
section.about .about-left{
  border-right: solid #e3e3e3 1px;
  margin: 50px auto 100px;
  flex: 1;
}
section.about .about-left > div{
  margin: 4vh 3vw;
  min-width: 300px;
}
section.about .about-left article > i{
  display: none;
}

/* RIGHT Portfolio */
section.about .about-right{
  /*border-left: solid #e3e3e3 1px;*/
  height: 92vh;
  margin: 50px auto 100px;
  /*overflow: hidden;*/
  flex: 1;
}
section.about .about-right > div{
  margin: 4vh 3vw;
  position: relative;
}

.ctn-arrows{
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 11px 0;
  position: relative;
}
.ctn-arrows > a{
  margin-right: 3vw;
}
.ctn-arrows > i{
  margin-right: 25px;
}

.placeholder{
  background: #dd614a;
  /*background-position: center;*/
  background-size: contain;
  background-repeat: no-repeat;
  border: solid black 8px;
  margin: 0 auto 25px;
  height: 35vmin;
  max-height: 300px;
  width: 35vmin;
  max-width: 300px;
}

/* brewdo */
#brewdo > a > div{
  background-image: url("svg/brewdo1.png");
}


/* Contact me */
section.contact{
  background: rgba(162, 115, 104, 0.28);
  display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
section.contact > h4{
  line-height: 2.6;
}
section.contact i{
  padding: 13px 16px;
}

.css-envelope{
  border: none;
  border-bottom: solid 3px transparent;
}
.css-envelope:hover{
  background: #a27368;
  border-radius: 5px;
  transition: 0.3s;
}

.js-email{
  background: transparent;
  border-radius: 0;
  color: #dd614a;
  cursor: pointer;
}
.js-email:after{
  background: transparent;
  content: "hanova.dung@gmail.com";
  color: #222;
  font-family: 'Helvetica', sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  padding-left: 1.4vmin;
}
.js-email:hover{
  background: transparent;
  border-bottom-color: #dd614a;
  border-radius: 0;
  color: #dd614a;
  transition: 0.3s;
}


/* Skills */
section#skills{
  margin-bottom: 8vh;
}
section#skills > h4{
  padding-top: 50px;
}

section.skills{
  padding: 0 5vmin 50px;
}

section.skills .subskills {
  padding: 25px 50px;
}

.subskills{
  align-items: center;
  border: solid transparent 1px;
  border-radius: 10px;
  flex: 1;
  flex-flow: column nowrap;
  font-style: italic;
  justify-content: center;
  margin: 0 10px;
}
.subskills > a{
  color: #625b66;
}
.subskills > a:hover{
  color: #b7dee5;
}

/* select one over the others effect*/
section.skills:hover .subskills {
  opacity: .25;
  transition: 0.3s;
}
section.skills .subskills:hover {
  color: #222;
  border-color: #e3e3e3;
  opacity: 1;
  transition: 0.3s;
}


/* NOTE: Footer specific */
footer.ribbon{
  align-items: center;
  flex-flow: row wrap;
  justify-content: flex-start;
  position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: 2;
}
footer.ribbon p{
  color: #f9f8f7;
  cursor: default;
  margin-right: 3vw;
  text-transform: uppercase;
}


/* ============================================================================= */
/* SCREEN RULES */
/* ============================================================================= */

/* NOTE: Large laptop screen */
@media screen and (min-width: 1000px){
  /* About */
  section.about .about-left article > i{
    display: inline;
    float: right;
    margin: 2px 0 2px 20px;
  }
}


/* NOTE: Tablet screen */
@media screen and (min-width: 769px){
  body{
    background: #a27368;
  }

  .w100p{
    width: 86%;
  }
}


/* NOTE: Mobile screen */
@media screen and (max-width: 692px){
  body{
    background: #f9f8f7;
  }


  /* navigation is fixed */
  header.ribbon{
    padding-right: 15px;
    padding-left: 15px;
  }
  /* mobile menu */
  nav span#ZH{
    visibility: hidden;
  }

  .css-menu{
    background: #140e0e;
    color: #a27368;
    display: block;
    float: right;
    margin-bottom: 10px;
    outline: none;
    opacity: 0.9;
    font-weight: bold;
  }
  .css-menu:hover{
    background: transparent;
    color: #f9f8f7;
    border: none;
  }

  nav .nav-links > a:not(:first-child){
    display: none;
  }

  nav .nav-links.active{
    display: flex;
      align-items: flex-end;
      flex-flow: column nowrap;
      justify-content: flex-end;
    transition: ease-out 0.3s;
  }
  nav .nav-links.active a{
    border: none;
    display: inline;
    padding: 0 22px 0;
    text-align: right;
    transition: ease-out 0.3s;
  }


  /* top section */
  .parallax{
    background: #ba6455;
  }


  /* bottom section */
  /* about */
  section.about{
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
  }
  section.about .about-right,
  section.about .about-left{
    padding: 0 15px;
  }
  section.about .about-left{
    margin-bottom: 0;
  }
  section.about .about-right .subcontent{
    border-bottom: none;
  }

  .placeholder{
    height: 70vmin;
    width: 70vmin;
  }


  /* contact me */
  section.contact{
    background: rgba(183, 222, 229, 0.3);
    border: none;
  }
  section.contact a > i{
    background: #a27368;
  }
  .css-envelope{
    background: #a27368;
  }

  .js-email{
    background: transparent;
  }
  .js-email:after{
    background: transparent;
    color: #dd614a;
  }


  /* skills */
  section.skills{
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 8px;
  }


  /* footer is not fixed */
  footer.ribbon{
    position: static;
  }
}
