/* NOTE: Encompassing */
body{
  box-sizing: border-box;

  }

a{
  color: #e3e3e3;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover{
  color: white;
  text-decoration: none;
}

/* NOTE: Encompassing classes */
.ribbon{
  background: black;
  padding: 3.6vh 1vw;
}

/* NOTE: Navigation specific */
.flex{
  display: flex;
}

.flex-rib{
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}

.wrap{
  margin: 0 5vmin;
}

.links-rib > a{
  padding: 0 10px 3.6vh;
}

.trig-down > a:hover{
  border-bottom: solid white;
}
