/* Color palette */
/*
black      #050517

grey 1     #e3e3e3
grey 2     #a3a3a3
grey 3     #605e5e

white 1    #fcfcfc
white 2    #f7f4ea

peach      #ED6A5A

blue 1     #0DC0D8
blue 2     #07BEB8   propensity
blue 3     #1645B2
==================
white 1    #fcfcfc
white 2    #FDFFFC    background
white 3    #EDE6E3    pinkish-red
white 4    #DED9E2    pinkish-blue

grey 1     #e3e3e3    go-to grey!
grey 2     #a3a3a3    darker than go-to grey!
grey 3     #CAC4CE    pinky grey!
grey 4     #6d6a70    dark grey!

peach 1    #FCA17D    peach ocre light for BUTTONS
peach 2    #fc7d85    peach orange!!!
peach 4    #E07A5F    peach orange darker

blue 1     #edf7fc
blue 2     #dcf0fa
gblue 2    #0DC0D8
blue 3     #b9e2f5   greentint-blue
gblue 3    #07BEB8   green-blue
blue 4     #84cdee   saturated light blue
blue 5     #50b8e7   saturated blue
blue 6     #0FACF3   neon blue
blue 6     #235789   dark blue
blue 7     #141B41   darkest blue


*/

/* FLEXBOX */
.flex-crb{
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-ccc{
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

/* GRID */
.grid-memo{
  grid-template-columns: repeat(2, 165px);
  grid-template-rows: auto-fit 55px;
  grid-gap: 12px;
  align-items: center;
  justify-items: center;
}

.grid-memo > p{
  grid-area: 1/1/2/3;
  text-align: justify;
}

.grid-memo > button{
  grid-area: 2/1/3/2;
}

.grid-memo > a{
  grid-area: 2/2/3/3;
  position: relative;
    top: 2px;
}

/* BODY */
.bodylogin_bg{
  /*background: linear-gradient(#8a083a, #805050 43%, #f9f9f5 43.2%, #e4dad7);*/
  background: linear-gradient(#ffffff,#f7fcff, #f9f9f5 59.2%, #dcf0fa);
}

h1{
  color: #0DC0D8;
}

/* Special IDs */
#propensity{
  color: #0DC0D8;
  font-size: 40px;
  margin: 20px;
}


/* TOP SECTION*/
#topsection{
  /*background: #e3e3e3;*/
  box-sizing: border-box;
  height: 90vh;
  padding: 0 7vw;
  /* padding + margin have to add up to 10vw   */
  border-bottom: solid #141B41 2px;
  margin: 0 5vw;
}

#topsection a{
  color: #0DC0D8;
}
#topsection a:hover{
  color: #FCA17D;
}

h5 > a.link-xxs{
  color: #0DC0D8;
}
h5 > a.link-xxs:hover{
  color: #CAC4CE;
}

a.link-s.underline{
  position: relative;
  border: none;
  min-width: 69px;
}
a.link-s.underline:before{
  content: '';
  position: absolute;
    top: 17px;
    left: 0;
  width: 100%;
  height: 2px;
  background: #FCA17D;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a.link-s.underline:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}

/* BOTTOM SECTION */
#bottomsection{
  /*background: #f7f4f4;*/
  box-sizing: border-box;
  min-height: 108vh;
}

#login > div > a.link-xxs{
  color: #fc7d85;
}
#login > div > a.link-xxs:hover{
  color: ;
}
button.panselect{
  color: #0DC0D8;
}

#signup{
  display: none;
}

.login_{
  margin-top: 100px;
  position: absolute;
    top: 90vh;
  width: 320px;
}

.login_ > .panel {
  border-bottom: solid #6d6a70 1px;
  padding: 13px 0;
}

/* auth containers */
.container-auth > div:first-child > h1{
  margin: 48px auto 16px;
}

.container-auth > div:first-child > p{
  margin-bottom: 22px;
}
.container-auth > div:last-child> h5{
  margin: 16px auto;
}

form > input.btn {
  margin: 42px auto 16px;
}

/* Input fields */
.input-auth:focus{
  border: solid #0DC0D8 1px;
  border-radius: 2px;
  outline: none;
  transition: linear 0.2s;
}

.input-auth{
  background: transparent;
  border: solid #FDFFFC 1px;
  border-bottom: solid #CAC4CE 1px;
  height: 40px;
  margin: 16px auto 2px;
  opacity: 0.8;
  width: 100%;
}
