/* Color palette */
/*
black      #050517
grey 1     #e3e3e3
grey 2     #a3a3a3
grey 3     #605e5e
white 1    #fcfcfc
white 2    #f7f4f4
peach      #ED6A5A
blue 1     #0DC0D8
blue 2     #07BEB8
blue 3     #1645B2

*/


.text-m{
  color: #a3a3a3;
}

/* FLEXBOX */

.flex-srb{
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* SECONDARY PANEL */
.panselect.link-xxs{
  text-align: center;
}
.panselect.link-xxs:hover{
  color: #84CDEE;
}
/* TOP SECTION */
/* Right side bar with statistics */
.statsboard{
  height: 100%;
  width: 340px;
  box-sizing: border-box;
  border-left: solid #e3e3e3 1px;
  padding: 0 20px 40px;
}
.statsboard > section > h3 {
  margin: 20px 0;
}

.statsboard > section:nth-child(3){
  border-top: solid #e3e3e3 1px;
  margin-top: 28px;
}

.statsbar{
  padding-left: 20px;
  padding-right: 20px;
}
.statsbar.secondary{
  padding-top: 13px;
}
.card-vistop-R{
  text-align: right;
}

.card-vistop-R > p:nth-child(odd){
  margin: 24px 0 5px 4px;
}
.card-vistop-R > p:nth-child(even){
  border-bottom: solid #e3e3e3 1px;
}
.card-vistop-R > p:nth-child(1){
  color: #fc7d85;
  margin-top: 2px;
}

.card-vistop-R> p:nth-child(3){
  color: #6d6a70;
}
.card-vistop-R > p:nth-child(5){
  color: #6d6a70;
}
.card-vistop-R > p:nth-child(7){
  /*color: #a3a3a3;*/
}


/*===============================================================================*/
/* MIDSECTION - TABLES */
#tables{
  border-top: solid #e3e3e3 1px;
  padding: 13px 30px;
}

table{
  border-collapse: collapse;
  margin: 2px 0 40px;
  width: 100%;
  border-radius: 2px;
}

td, th {
  border: solid #e3e3e3 1px;
  border-radius: 2px;
  padding: 8px;
  text-align: center;
}

th{
  padding: 12px auto;
  background: #0DC0D8;
  color: white;
}

table > tbody > tr:nth-child(even){
  background: #f7f4f4;
}

table > tbody >tr:hover{
  background: #edf7fc;
}

table > tbody > tr > th:nth-child(1){
  width: 3vw;
}

table > tbody > tr > th:nth-child(2){
  width: 30vw;
}

table > tbody > tr > th:nth-child(3){
  width: 6vw;
}

table > tbody > tr > th:nth-child(4){
  width: 18vw;
}

#tdonations > tbody > tr > th:nth-child(5){
  width: 25vw;
}

/* BOTSECTION - PERSONAL */
#personal{
  border-top: solid #e3e3e3 1px;
  padding-top: 13px;
  padding-bottom: 2vh;
}

#personal > div:first-child{
  /* compensating for using flex-start, otherwise the L-margin would be 40px (30px + 10px on [+] button above tables)*/
  margin: 0 30px;
}
#personal > div:last-child{
  padding: 20px 40px;
}

section.foot > div > h4{
  color: #0DC0D8;
}

/* Misc */


.statsbar > .grid-cardtop > div > p.text-xl{
  color: #fc7d85;
}

.statsbar > .grid-cardtop > div > p.text-xl{
  color: #fc7d85;
}


.statsbar.secondary > div > p:first-child{
  color: #fc7d85;
}

.panselect{
  color: #6d6a70;
}
.panselect > .text-m{
  color: #6d6a70;
}

.text-m.fullname{
  color: #0DC0D8;
}
